//============================
//    	Name: SVGICONS
//============================

glyphs {
	+__() {
		.error {
			glyph: $star$
		}
		.d-scrollup {
			glyph: $d-scrollup$
			transform scale(0.6)
		}
		.success {
			glyph: $success$
		}
		.viber {
			width 90px
			height 40px
			margin-bottom: -0.5rem;
		}
		.whatsapp {
			width 130px 
			height 30px
		}
		.telegram {
			width 108px
			height 26px
		}
		.telme {
			width 20px
			height 28px
		}
		.insta {
			width 100%
			height 25px
		}
		.checked {
			margin 0 2px
			fill: $$orange
			position: relative;
			right: -2px;
			top: -3px;
			transform: scale(1);
		}
	}
}