//============================
//    Name: Index.html
//    Desc: Main page
//============================
 
info {
 +__() {
  .section--background {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-color: #ddd;
  }
  .box {
   display flex
   justify-content: center;
   align-items: center;
  }
  .row {
   colorA = #212121;
   colorB = #2a2a2a;
   display: flex;
   width 300px
   height 300px
   background-image repeating-linear-gradient(
    45deg,
    colorA,
    colorA 1px,
    colorB 2px,
    colorA 3px
    )
   flex-flow: column ;
  }
  .hr {
   background-color #000
   height 2px
   font-size 0
  }
 }
}
info-top {
 +__() {
  .box {
   display flex
   flex-flow: row;
   padding 13px 16px
  }
  .logo {
   display: flex;
   flex-flow row wrap
   flex: 50%
   justify-content: start;
   align-items: center;
  }
  .title {
   @extend .info-top__logo
  }
  .p {
   color: #fff
   opacity .5
   font-family: 'Roboto', sans-serif;
   font-size 11px
  }
 }
}

info-mid {
 +__() {
  .box {
   display flex
   flex-flow: column;
   justify-content: center;
   align-items: center;
   color: #fff
   height 100%
  }
  .title {
   padding 13px
   font-size 1rem
  }
  .desc {
   @extend .info-mid__title
   font-size 12px
  }
  .ratio {
   color: #FDD504
   font-size 24px
  }
 }
}
info-bot {
 +__() {
  .box {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom 20px
  }
 }
}


/* ==== HEADER ==== */
hdr {
 +__() {
  .fixed {
   position: absolute;
   left: 0;
   width: 100%;
   top: 0;
   z-index: 3;
   margin: auto;
   +media(425) {
    position fixed
   }
  }
  .section--background {
   background-size cover
   background-position center center
   background-color $$null
  }
  .container {
   display: grid;
   grid: auto \/repeat(auto-fit, minmax(25rem, auto));
   grid-gap: 0 2rem;
   align-items: center;
   justify-content: space-between;
   max-width 1300px
   margin auto
   & a {
    color: $$white
   }
   margin-top 3rem
   +media(1266) {
    padding: 0 1rem;
    grid-gap: 0.3rem
    justify-content: start;
   }
  }
  .logo {
   +media(1266) {
    grid-column: 1/4
   }
   +media(425) {
    display none
   }
  }
  .logo-p {
   font-size 1.1rem
   color: $$white
  }
  .social {
   display: grid;
   grid: auto \/ repeat(3, auto)
   align-items: center;
   justify-content: end;
   grid-gap: 1rem;
   +media(1266) {
    justify-content: start;
   }
   +media(833) {
    grid-column: 1/4;
   }
   +media(424) {
    grid: auto auto \/ 1fr;
   }
  }
  .links-item {
   &:hover:nth-child(-n+3) {
    transform: rotate(-7deg);
    +media(424) {
     transform: unset
    }
   }
   &:active {
    transform translate(0, 4px)
   }
  }
  .phone {
   display: grid;
   grid: auto \/ auto auto;
   align-items: center;
   justify-content: end;
   grid-gap: 0 1rem
   +media(833) {
    justify-content: start;
   }
   +media(424) {
    grid: auto auto \/ 1fr;
   }
  }
  .phone-href {
   display: grid;
   grid auto \/ auto 1fr
   align-items: center;
   grid-gap: 0 .4rem
  }
  .phone-p {
   font-size 1.1rem
   color: $$white
  }
  .phone-cyrcle {
   display: grid;
   align-items: center;
   justify-content: center;
   width 40px
   height 40px
   background-color $$blue
   border-radius 100%
  }
  .menu {
   display none
   user-select none
   +media(425) {
    display: grid;
    grid repeat(3, 1fr) / 1fr
    grid-gap: .5rem 0
    position fixed
    right 1rem
    top 1rem
    transition .25s __cubic
    &:hover {
     cursor pointer
    }
   }
  }
  .menu-line {
   width: 2rem;
   height: .25rem;
   display: grid;
   background: $$blue;
   border-radius: 1rem 1rem 1rem 1rem;
   transition .25s __cubic
  }
  .menu--background {
   +media(425) {
    background: #0000;
    padding: 0 1rem 2rem;
    margin-top -100%
    transition .25s __cubic
   }
  }
 }
}
/* ==== ----- ==== */
 


/* ==== HEADER ==== */
ftr {
 +__() {
  .section--background {
   background-size cover
   background-position center center
   background-color $$null
  }
  .container {
   display: grid;
   grid-template-rows: minmax(3rem, auto)
   grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
 }
}
/* ==== ----- ==== */

 



scrollup {
 +__() {
  .section--background {
   background-size cover
   background-position center center
   background-color #ddd
  }
  .container {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: auto;
   position: fixed;
   bottom: 5%;
   right: 5%;
   width 3rem
   height 3rem
   transition .25s __cubic
   cursor pointer
   &:hover {
    background-color $$white
    border-radius 100%
   }
  }
 }
}